* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #444;
  margin: 0 10px;
}
.main-header h1 {
  text-align: center;
  padding: 10px;
  color: rgb(2, 119, 253);
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 32px;
  background-color: #b7b7b71f;
}
.main-header nav ul {
  list-style: none;
  text-align: center;
  margin-bottom: 20px;
}
.main-header nav ul li {
  display: inline-block;
  margin-right: 5px;
}
.main-header nav ul li a:link,
.main-header nav ul li a:visited {
  color: black;
  padding: 10px;
  background-color: aqua;
  transition: 0.5s;
  text-decoration: none;
}
.main-header nav ul li a:hover,
.main-header nav ul li a:active {
  color: rgb(77, 76, 76);
  padding: 10px;
  background-color: rgb(7, 148, 148);
}
.article-header {
  margin-bottom: 20px;
}
.article-title {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.article-author {
  display: inline;
  margin-bottom: 5px;
  cursor: pointer;
}
.article-detail {
  margin-bottom: 20px;
}
.article-img {
  /* display: block; */
  width: 100%;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: rgb(4, 142, 234);
  margin-top: 40px;
  margin-bottom: 25px;
  text-transform: uppercase;
  border-bottom: 2px solid #444;
}
h4 {
  color: rgba(0, 0, 255, 0.686);
  margin-top: 30px;
  margin-bottom: 30px;
}
p {
  line-height: 1.4;
  margin-bottom: 20px;
  /* text-align: center; */
}
.contant-list {
  margin-left: 50px;
  margin-bottom: 15px;
}
.contant-list li {
  margin-bottom: 5px;
}

img {
  display: block;
  margin: 0 auto;
}

/*Related Post*/
.related-post {
  padding: 15px;
  border-top: 5px solid rgba(0, 51, 255, 0.66);
  border-bottom: 5px solid rgba(0, 51, 255, 0.66);
  margin-bottom: 10px;
  background-color: #bfbcbc54;
}

.related-post ul {
  list-style: none;
}
.related-post ul li img {
  display: inline;
}
.related-post ul li p {
  margin-top: 5px;
}
.related-post ul li .last-related {
  margin-bottom: 0;
}
.related-title {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 5px;
}
a {
  color: black;
  text-decoration: none;
}
.main-container {
  position: relative;
}
.share {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.share a img {
  display: inline;
  padding: 5px;
  width: 50px;
}
/* Update layout */
